

<form>
        <div class="row">
        <div class="col-sm-2">
        <label for="" class="form-label">Name</label>
        <input class="form-control" name="name"  placeholder="Name">
        </div>
        <div class="col-sm-2">
            <label for=" " class="form-label">Phone Number</label>
            <input class="form-control"name ="phone_number"  placeholder="Phone Number">
        </div>
        </div>
        <div class="row">
        <div class="col-sm-3">
            <label for=" " class="form-label">Image</label>
            <input type="file" class="form-control" name="Image">
        </div>
      </div>
</form>
<br>
