
<div class="contact">
<!-- <div (click)="saveItem()"> -->

    <div class="contact-img">
        <img src="{{contact?.image}}" height="40px">
    </div>
    <div class="contact-details">
            <div class="contact-name">
                {{contact?.name}}
            </div>
            {{contact?.phone}}
    </div>
    <div class="btn">
        <i class="fa fa-pencil" style="font-size:24px;color: green;"></i>
        <br>
        <i class="material-icons" style="font-size:24px;color: red;">delete</i>
    </div>
<!-- </div> -->
</div>